[alias]
	ch = checkou
	st = status
	staust = 'gitst'
	cf = config
	ck = checkout
	ft = fetch
	fh = fetch
	br = branch
	brv = branch --v
	geturl = config --get remote.origin.url
	bs = bisect
	lg = log
	cfg = config --global
	cfga = config --global alias.
	pull = pl
	pl = pull --rebase
	cm = commit -c HEAD
	ps = push
	lsr = ls-remote --heads
	udc = reset HEAD~
	ftg = fetch --tags
	am = commit -amend
	cmd = commit --amend
	rsh = reset HEAD~
	cmi = commit --interactive -c HEAD --reset-author
	i = --interactive
	rss = reset --soft
	rmc = rm --cached
	cp = cherry-pick
	cpx = cherry-pick -x
	bl = blame
	gk = gitk
	ltn = ls-tree -r HEAD~ --name-only
	lt = ls-tree -r HEAD~ --name-only
	ltng = ls-tree -r HEAD~ --name-only |grep
	lgd = log -p --full-diff
	bcm = "branch -a --contains "
	brc = branch -a --contains
	tagc = tag --contains